<div class="ui middle aligned center aligned grid">
  <div id="columnLogin" class="column login">
    <form class="ui large form" action="/rememberPassword" method="POST">
      <div class="ui stacked segment">
        <div class="header" style="color: midnightblue !important; text-align: center">Recordar Contraseña</div>
        <br>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="username" name="username" type="text" placeholder="Usuario o Correo electrónico">
          </div>
        </div>
        {{#if errorUser}}
        <div class="ui blue small message">
          <i class="red warning sign icon"></i>{{errorUser}}
        </div>
        {{/if}}
        <input class="ui fluid large blue submit button" type="submit" value="Recordar Contraseña"></input>
        <br>
      </div>
    </form>

  </div>
</div>
<script>
  function encrypt() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    username = btoa(username);
    password = btoa(password);
    document.getElementById("username").value = username;
    document.getElementById("password").value = password;
  }
</script>