<div class="ui raised very padded text container segment">
    <form class="ui form">
        <h4 class="ui dividing header">Cargar pagos cesantias</h4>
        <br>
        <div class="ui form">
            <div class="field">
                <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
                <input id="elegir" name="uploadedfile" type="file" />
                <br>
                <br>
                <label>Seleccione el archivo para actualizar los pagos</label>
                <br>
                <input type="submit" class="ui blue inline button" value="Subir archivo" />
                <button class="ui blue button" type="reset">Cancelar</button>
            </div>
        </div>
    </form>   
</div>
<!--Resultado cargue archivo financiero-->
<div class="ui raised very padded text segment">
    <h4 class="ui dividing header">Resultado Proceso Cargue archivos cesantias</h4>
    <table class="ui basic center table">
        <thead>
            <tr>
                <th>Numero planilla</th>
                <th>Nit</th>
                <th>Fecha de pago</th>
                <th>Administradora</th>
                <th>Periodo</th>
                <th>Valor</th>
                <th>Observación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>860010010000</td>
                <td>800000001</td>
                <td>2018-03-01</td>
                <td>Porvenir</td>
                <td>2017</td>
                <td>$180.000</td>
                <td>Información cargada correctamente</td>
            </tr>
            <tr>
                <td>860010010001</td>
                <td>800000002</td>
                <td>2018-03-02</td>
                <td>Colfondos</td>
                <td>2017</td>
                <td>$1.800.000</td>
                <td>La planilla presenta diferencia en los valores esperado: $1.815.000, Valor encontrado: $1.800.000</td>
            </tr>
        </tbody>
    </table>
</div>
<!--Resultado cargue archivo financiero-->
<script>
    $('.ui.dropdown')
        .dropdown()
        ;
</script>