<div class="ui raised very padded text container segment" style="text-align: center">
    <h4 class="ui dividing header">{{correctUpdate}}</h4>
    <form action="/principal" method="GET">
        <button class="ui blue button" type="submit">Volver</button>
    </form>
</div>