<div class="ui raised very padded text container segment">
    <form class="ui form">
        <h4 class="ui dividing header">Conciliar Información</h4>
        <div class="ui form">
            <div class="ui form">
                <div class="grouped fields">
                    <label>Seleccione la fecha de pago para la cual desea realizar la conciliación</label>
                </div>
                <div class="ui calendar" id="fechaPago">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Fecha pago">
                    </div>
                </div>
                <br>
                <div class="grouped fields">
                    <label>Tipo resumen</label>
                </div>
                <div class="field">
                    <select>
                        <option value="">Seleccione</option>
                        <option value="0">Todos</option>
                        <option value="1">Resumen Bancos</option>
                        <option value="2">Resumen conciliación</option>
                        <option value="3">Resumen Operador</option>
                    </select>
                </div>
                <br>
                <button class="ui blue button" type="submit">Conciliar</button>
            </div>
        </div>
    </form>
</div>
<script>
    $('#fechaPago').calendar({
        type: 'date'
    });
</script>
<!--Resultado Conciliación-->
<div class="ui raised very padded text segment">
    <h4 class="ui dividing header">Resultado Conciliación para la administradora "Confama"</h4>    
    <h4 class="ui header">Fecha conciliación:  2018-01-01</h4>
    <table class="ui basic center table">
        <thead>
            <tr>
                <th colspan="5">Resumen Bancos</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Banco</th>
                <th>Fecha Recaudo</th>
                <th>Cantidad de planillas</th>
                <th>Numero de empleados</th>
                <th>Valor Recaudado</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Banco Occidente</td>
                <td>2018-01-01</td>
                <td>150</td>
                <td>8000</td>
                <td>$230,860,553</td>
            </tr>
            <tr>
                <td>Banco Bogotá</td>
                <td>2018-01-01</td>
                <td>130</td>
                <td>600</td>
                <td>$130,000,553</td>
            </tr>
        </tbody>
    </table>
</div>
<!--/Resultado Conciliación-->