<div class="ui raised very padded text container segment">
    <h4 class="ui dividing header">Bienvenido al sistema de Información FEJAT</h4>
    <h5 class="ui header" style="font-weight: normal"> Sr(a) {{credentials.name}}</h5>    
    <h5 class="ui header" style="font-weight: normal">Su ultimo ingreso correcto al sistema fue: {{date}} </h5>    
    
</div>

