<div class="ui text container segment">
  <div class="ui blue center aligned block header" style="color: midnightblue; font-size: 18px">
    Contactenos
  </div>
  <div class="ui horizontal segments">
    <div class="ui stackable segment" style="text-align: justify">
      <div class="ui header">Persona Contacto:</div>
      <p style="color: black; font-size: 16px">Sandra Alvarado Quitin</p>
      <div class="ui header">Correo Electrónico:</div>
      <p style="color: black; font-size: 16px">sandraa_asc@jaimetorres.net</p>
      <div class="ui header">Teléfono:</div>
      <p style="color: black; font-size: 16px">487-7853 Ext 1205</p>
    </div>
    <div class="ui stackable segment" style="text-align: justify">
      <div class="ui header">Persona Contacto:</div>
      <p style="color: black; font-size: 16px">Sandra Milena Rivera C.</p>
      <div class="ui header">Correo Electrónico:</div>
      <p style="color: black; font-size: 16px">sandrar_asc@jaimetorres.net</p>
      <div class="ui header">Teléfono:</div>
      <p style="color: black; font-size: 16px">487-7853 Ext 1180</p>
    </div>
  </div>
  <div class="ui horizontal segments">
    <div class="ui stackable segment" style="text-align: justify">
      <div class="ui header">Persona Contacto:</div>
      <p style="color: black; font-size: 16px">Freddy Nelson Muñoz I.</p>
      <div class="ui header">Correo Electrónico:</div>
      <p style="color: black; font-size: 16px">freddym_asc@jaimetorres.net</p>
      <div class="ui header">Teléfono:</div>
      <p style="color: black; font-size: 16px">487-7853 Ext 1180</p>
    </div>
    <div class="ui stackable segment" style="text-align: justify">
      <div class="ui header">Persona Contacto:</div>
      <p style="color: black; font-size: 16px">Eduardo Olaya Sarmiento.</p>
      <div class="ui header">Correo Electrónico:</div>
      <p style="color: black; font-size: 16px">admin_asc@jaimetorres.net</p>
      <div class="ui header">Teléfono:</div>
      <p style="color: black; font-size: 16px">487-7853 Ext 1174</p>
    </div>
  </div>
</div>