<div class="ui raised very padded text container segment">
    <form class="ui form">
        <h4 class="ui dividing header">Aportantes no registrados FNA</h4>
        <div class="grouped fields">
            <label>Seleccione el rango de fechas para la consulta</label>
        </div>
        <div class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Fecha Inicial</label>
                    <div class="ui calendar" id="rangestart">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="Fecha Inicial">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Fecha Final</label>
                    <div class="ui calendar" id="rangeend">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="Fecha Final">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Consultar todos los registros</label>
            </div>
            <br>            
            <br>
            <button class="ui blue button" type="submit">Consultar</button>

        </div>
    </form>
</div>
<!--Resultado Consulta-->
<div class="ui raised very padded text segment">
    <h4 class="ui dividing header">Resultado Consulta</h4>    
    <table class="ui basic center table">
        <thead>
            <tr>
                <th>Tipo documento</th>
                <th>Numero documento</th>
                <th>Razón social</th>
                <th>Nombre usuario</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Dirección</th>
                <<th>Celular</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nit</td>
                <td>800100800</td>
                <td>Empresa Prueba</td>
                <td>Jose Francisco Riaño</td>
                <td>Bogota</td>
                <td>Bogota</td>
                <td>Cra 21 # 15-08</td>
                <td>3007001100</td>
                <td>4575757</td>
                <td>empresaprueba@correo.com</td>
                <td>Descargado</td>
            </tr>
            <tr>
                <td>Nit</td>
                <td>800100900</td>
                <td>Empresa Prueba 1</td>
                <td>Josefa Fernandez</td>
                <td>Boyaca</td>
                <td>Tunja</td>
                <td>Cra 15 # 08-10</td>
                <td>3701001001</td>
                <td>6888888</td>
                <td>empresaprueba1@correo.com</td>
                <td>Sin descargar</td>
            </tr>            
        </tbody>
    </table>
    <br>
    <button class="ui blue button" type="submit">Descargar Archivo</button>
</div>
<!--/Resultado consulta-->



<script>
    $('#rangestart').calendar({
        type: 'date',
        endCalendar: $('#rangeend')
    });
    $('#rangeend').calendar({
        type: 'date',
        startCalendar: $('#rangestart')
    });
</script>