<div class="ui raised very padded text container segment">
    <form class="ui form">
        <h4 class="ui dividing header">Cambiar Contraseña</h4>
        <div class="ui form">
            <div class="field">
                <div class="field">
                    <label>Contraseña actual</label>
                    <input placeholder="Contraseña actual" type="password">
                </div>
                <div class="field">
                    <label>Nueva contraseña</label>
                    <input placeholder="Nueva contraseña" type="password">
                </div>
                <div class="field">
                    <label>Confirmar contraseña</label>
                    <input placeholder="Confirme la contraseña" type="password">
                </div>
                <button class="ui blue button" type="submit">Aceptar</button>
            </div>
        </div>
    </form>
</div>